{
  "presets": [
    "react-native"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd-mobile"
          }
        ]
      ]
    }
  }
}