.img-sts-wrap {
  width: 100%;
  height: 500px;
  line-height: 500px;
  text-align: center;
  position: relative;
  /* border-style: dotted ; */
  /* border-width: 1; */
  /* border-color: #9a9a9a; */
}

.img-sts-self {
  max-width: 100%;
  max-height: 480px;
  vertical-align: middle;
  /* border-style: dashed; */
}

.shuoshuo-words {
  position: absolute;
  bottom: 8px;
  left: 50%;
  line-height: 30px;
  color: blue;
  background-color: #fff;
  transform: translate(-50%, -50%);
  font-size: 150%;
}